In [1]:
import pandas as pd
import numpy as np

In [2]:
valid_labels = pd.read_csv('valid.tsv', sep='\t')
valid_labels

      tweet_id                 label
0       107883     Lit-News_mentions
1       107720     Lit-News_mentions
2       107268     Lit-News_mentions
3       302934  non-personal_reports
4       302479  non-personal_reports
...        ...                   ...
3572    107910     Lit-News_mentions
3573    107903     Lit-News_mentions
3574    106467     Lit-News_mentions
3575    106159     Lit-News_mentions
3576    106241     Lit-News_mentions

[3577 rows x 2 columns]

In [3]:
valid_tweets = pd.read_csv('task5_validation_user_NOlabel.tsv', sep='\t')
valid_tweets

      tweet_id                                         tweet_text
0       107883  Muy preocupau con la noticia. Doblegar la curv...
1       107720  @MoChao33 @carmenvivomivid @SalvaGarca4 @Hondo...
2       107268  Si ha sido vacunado contra el #COVID19 y prese...
3       302934  Las vacunas 3 y hablamos inminidad vivo ➡️ Son...
4       302479  Hola @Liberbank ! ¿Puedo solicitar la línea de...
...        ...                                                ...
3572    107910  #ElParoEs #EsElMomentoDeParar28A#TodosALaCalle...
3573    107903  Esta es la razón por la que la COVID-19 hace q...
3574    106467  El Gobierno oficializó el protocolo para trata...
3575    106159  🔵🔴#ATENCIÓN | El ministro del Ambiente, @GQuij...
3576    106241  Relatos de pacientes positivos covid 19 que qu...

[3577 rows x 2 columns]

In [4]:
final_valid = pd.merge(valid_labels, valid_tweets, how="left", on="tweet_id")
final_valid

,tweet_id,label,tweet_text
0,107883,Lit-News_mentions,Muy preocupau con la noticia. Doblegar la curv...
1,107720,Lit-News_mentions,@MoChao33 @carmenvivomivid @SalvaGarca4 @Hondo...
2,107268,Lit-News_mentions,Si ha sido vacunado contra el #COVID19 y prese...
3,302934,non-personal_reports,Las vacunas 3 y hablamos inminidad vivo ➡️ Son...
4,302479,non-personal_reports,Hola @Liberbank ! ¿Puedo solicitar la línea de...
...,...,...,...
3572,107910,Lit-News_mentions,#ElParoEs #EsElMomentoDeParar28A#TodosALaCalle...
3573,107903,Lit-News_mentions,Esta es la razón por la que la COVID-19 hace q...
3574,106467,Lit-News_mentions,El Gobierno oficializó el protocolo para trata...
3575,106159,Lit-News_mentions,"🔵🔴#ATENCIÓN | El ministro del Ambiente, @GQuij..."
3576,106241,Lit-News_mentions,Relatos de pacientes positivos covid 19 que qu...

In [6]:
final_valid = final_valid[['tweet_id', 'tweet_text', 'label']]
final_valid

,tweet_id,tweet_text,label
0,107883,Muy preocupau con la noticia. Doblegar la curv...,Lit-News_mentions
1,107720,@MoChao33 @carmenvivomivid @SalvaGarca4 @Hondo...,Lit-News_mentions
2,107268,Si ha sido vacunado contra el #COVID19 y prese...,Lit-News_mentions
3,302934,Las vacunas 3 y hablamos inminidad vivo ➡️ Son...,non-personal_reports
4,302479,Hola @Liberbank ! ¿Puedo solicitar la línea de...,non-personal_reports
...,...,...,...
3572,107910,#ElParoEs #EsElMomentoDeParar28A#TodosALaCalle...,Lit-News_mentions
3573,107903,Esta es la razón por la que la COVID-19 hace q...,Lit-News_mentions
3574,106467,El Gobierno oficializó el protocolo para trata...,Lit-News_mentions
3575,106159,"🔵🔴#ATENCIÓN | El ministro del Ambiente, @GQuij...",Lit-News_mentions
3576,106241,Relatos de pacientes positivos covid 19 que qu...,Lit-News_mentions

In [5]:
final_valid.to_csv('dev.tsv', sep='\t', index=False)

In [9]:
valid_labels_visual = valid_labels.groupby(['label']).size()

In [10]:
print(valid_labels_visual)

label
Lit-News_mentions       2146
Self_reports             572
non-personal_reports     859
dtype: int64

In [12]:
print(valid_labels)

7154

      tweet_id                                         tweet_text
0       110704  #Noticias 1 fallecido por #COVID19  @JaenJunta...
1       202231  Lo unico q pienso es que con esto del coronavi...
2       304814  Cachen que hoy estaba leyéndole a mi mamá un t...
3       108220  #BLOGDeLaFamilia Para arrancar la semana con e...
4       304520  El que las trabaja!!!Eres muy cara de raja.. T...
...        ...                                                ...
6845    202689  Me van a odiar en mi trabajo, soy quien los va...
6846    110180  Estudian medicamentos senolíticos como alterna...
6847    109203  Lourdes Vázquez explica a NNGG-LB los efectos ...
6848    203260  Yo todavía me estoy riendo. Que pasa con @abc_...
6849    202769  Como me falta la respiración nose si es porque...

[6850 rows x 2 columns]